<body class="bg">
	<div class="main">
		<section class="signup">
			<div class="divcontainer">
				<div class="signup-content">
					<%= form_for @user, url: customers_path do |f| %>
						<h2 class="form-title">Request Account</h2>
						<div class="form-group">
							<%= f.text_field :name, class: 'form-input' , placeholder: 'Your Name' ,required: true %>
						</div>
						<div class="form-group">
							<%= f.email_field :email, class: 'form-input' , placeholder: 'Your Email' ,required: true %>
						</div>
						<div class="form-group">
							<%= f.password_field :password, class: 'form-input' , placeholder: 'Password' %>
							<span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<%= f.password_field :password_confirmation, class: 'form-input' , placeholder: 'Repeat your password',required: true %>
						</div>
            <%= f.fields_for :customer do |c| %>
              <div class="form-group">
                <%= c.text_field :phone, class: 'form-input', placeholder: 'Your Phone Number', required: true %>
              </div>

              <div class="form-group">
                <%= c.text_field :address, class: 'form-input', placeholder: 'Your Home Address', required: true %>
              </div>

              <div class="form-group">
                <%= c.label :birthdate, class: 'form-label' %>
                <%= c.date_field :birthdate, class: 'form-input', placeholder: 'Your Birthdate', required: true %>
              </div>

              <div class="form-group">
                <%= c.label :gender, class: 'form-label' %>
                <div class="form-radio-group">
                  <%= c.radio_button :gender, 'Male', id: 'gender_male', class: 'form-radio' %>
                  <%= c.label :gender_male, class: 'form-radio-label', for: 'gender_male' do %>
                    <span class="form-radio-text">Male</span>
                  <% end %>
              
                  <%= c.radio_button :gender, 'Female', id: 'gender_female', class: 'form-radio' %>
                  <%= c.label :gender_female, class: 'form-radio-label', for: 'gender_female' do %>
                    <span class="form-radio-text">Female</span>
                  <% end %>
              
                  <%= c.radio_button :gender, 'Other', id: 'gender_other', class: 'form-radio' %>
                  <%= c.label :gender_other, class: 'form-radio-label', for: 'gender_other' do %>
                    <span class="form-radio-text">Other</span>
                  <% end %>
                </div>
              </div>
              <div class="mb-3">
                <%= c.label :employee_id, 'Select Employee', class: 'form-label' %>
                <%= c.collection_select :employee_id, @employees, :id, :name, { prompt: 'Select Employee' }, class: 'form-select' %>
              </div>              
            <% end %>
						<div class="form-group">
							<%= f.submit 'Send Request' , name: 'submit' , id: 'submit' , class: 'form-submit' %>
						</div>
					<% end %>
          <div class="link">
            <%= link_to "Log in", new_user_session_path %><br />
          </div>
				</div>
			</div>
		</section>
	</div>
</body>
