<!DOCTYPE html>
<html>
  <head>
    <title>BankingManagementSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_page?(new_customer_path) || current_page?(new_user_session_path) || current_page?(new_user_password_path) || current_page?(edit_user_registration_path) %> 
      <%= yield %>
    <% else %>
      <div class="wrapper">
        <%= render 'shared/sidebar' %>
        <div class="main-content">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
